body {
    background-color: #F5F5F5;
}

#principal {
    width: 500px;
    margin: 50px auto;
}

#menu_principal{
    margin-top: 250px;
    text-align: center;
}

.logo {
    width: 250px;
    margin: 40px auto 40px 120px;
}

